.step__item {
    margin: 1.25rem 0;
}

.descr__img {
    margin:1.875rem 0px;
    border-radius: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(0 0 0.625rem gray);
}