@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html, body {
  width: 100%;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }
}

.section {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
  -webkit-margin-before: 0.625rem;
          margin-block-start: 0.625rem;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 71.25rem;
  margin: auto;
  min-height: 100vh;
}

.descr__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.invisible {
  display: none;
}

.intext_link {
  text-decoration: underline;
}

.body {
  position: relative;
}

.header-logo {
  display: block;
  position: absolute;
  background-color: white;
  padding: 1.25rem;
  left: 2.5rem;
}

.header-nav {
  background-color: #00aaa4;
  border-bottom: 0;
  padding: 0.3125rem 0;
  height: 2.375rem;
}

.header-top {
  background-color: #35506e;
  padding: 0.4375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-right: 1rem;
}

.phone-number {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-right: 1rem;
}

.submenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submenu__item {
  margin-right: 0.625rem;
}

.submenu__link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-right: 1rem;
}

.nav_active {
  border-bottom: 0.0625rem solid #fff;
  padding-bottom: 0.125rem;
}

.step__item {
  margin: 1.25rem 0;
}

.descr__img {
  margin: 1.875rem 0px;
  border-radius: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-filter: drop-shadow(0 0 0.625rem gray);
          filter: drop-shadow(0 0 0.625rem gray);
}

.enlarge {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: grey --overlay;
  background-size: cover;
}

.real_footer {
  background-color: #35506e;
  padding: 3.125rem;
}

.back_to_top {
  position: fixed;
  bottom: 5rem;
  right: 2.5rem;
  z-index: 9999;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  background: #0da8a3;
  color: #000000;
  cursor: pointer;
  border-radius: 0.3125rem;
  display: none;
}

.back_to_top:hover {
  background: #23f7f0;
}

.back_to_top-show {
  display: block;
}